name: js

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  MISE_EXPERIMENTAL: 1

permissions: {}

jobs:
  build:
    name: JavaScript bindings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: jdx/mise-action@v2

      - name: Build and test JavaScript bindings
        working-directory: js
        run: mise run //js:test
